@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  font-size: 2.4rem;
  font-family: "Space Mono", monospace;
}

.logo {
  margin: 4rem;

  @media (min-width: 750px) {
    margin-bottom: 7rem;
  }
}

.card {
  background-color: white;
  width: 100%;
  max-width: 90rem;
  padding: 3rem;
  border-radius: 2rem;

  @media (min-width: 750px) {
    display: flex;
  }

  &__tipcalculator {
    color: hsl(183, 100%, 15%);
    width: 100%;
    padding: 1;
    padding-bottom: 4rem;

    @media (min-width: 750px) {
      padding: 1rem;
      padding-right: 3rem;
    }

    & p {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }

  &__percentages {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: 420px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__customPercentInput {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: right;
    width: 100%;
    cursor: pointer;
    &::placeholder {
      color: hsl(183, 100%, 15%);
    }
    &:focus {
      outline: none !important;
      border: 0.2rem solid hsl(172, 67%, 45%);
    }
  }

  &__tip {
    background-color: hsl(183, 100%, 15%);
    width: 100%;
    border-radius: 1.5rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: 750px) {
    padding: 4rem;
  }

  &__resetBtn {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    color: hsl(183, 100%, 15%);

    border: none;
    font-size: 2.4rem;
    cursor: pointer;
    background-color: hsl(172, 67%, 45%);
    &:hover {
      background-color: hsl(185, 41%, 84%);
    }
    &:disabled {
      background-color: rgb(1, 94, 99);
    }
  }
}

.cardInput {
  position: relative;
  & p {
    display: none;
  }

  & input {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: right;
    width: 100%;
    cursor: pointer;
  }

  & input::placeholder {
    color: hsl(183, 100%, 15%);
  }

  & input:focus {
    outline: none !important;
    border: 0.2rem solid hsl(172, 67%, 45%);
  }

  & img {
    position: absolute;
    top: 1.8rem;
    left: 2rem;
  }
}

.butttonPercent {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: 2.4rem;
  cursor: pointer;

  &:hover {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
  }
  &--custom {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    &:hover {
      background-color: hsl(189, 41%, 97%);
      color: hsl(183, 100%, 15%);
    }
  }
  &--selected {
    background-color: hsl(172, 67%, 45%);
    &:hover {
      background-color: hsl(172, 67%, 45%);
      color: white;
    }
  }
}

.amountDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(172, 67%, 45%);
  margin-bottom: 4rem;

  & p {
    color: white;
    font-size: 1.5rem;
    @media (min-width: 750px) {
      font-size: 1.8rem;
    }
  }
  & span {
    color: hsl(184, 14%, 56%);
  }

  & h1 {
    font-size: 3.5rem;
    @media (min-width: 750px) {
      font-size: 5rem;
    }
  }
}

.invalid {
  & p {
    display: block;
    color: hsl(0, 100%, 66%);
    position: absolute;
    top: -3.5rem;
    right: 0rem;
  }
  & input:focus,
  & input {
    outline: none !important;
    border: 0.2rem solid hsl(0, 100%, 66%);
  }
}

.mb-4 {
  margin-bottom: 4rem;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 12px;
}
